#imagen-fondo {
    background-image: url("../img/fondo3.jpg");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 1;
}

.centrar {
    position: relative;
    margin-top: 10%;
    margin-left: 28%;   
}


a{
    text-decoration:none !important;
}

h1,h2,h3{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.myform{    
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
}

.tx-tfm{
    text-transform:uppercase;
}

.mybtn{
    border-radius:50px;
}
    
.login-or {    
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;   
    text-align: center center;
}

.span-or {    
    text-align: center;        
    background-color: #fff;
    justify-content: center center;
    margin: auto;
}

.hr-or {
    margin: auto;    
}

.google {
    color:#666;
    width:100%;
    height:40px;
    text-align:center;
    outline:none;
    border: 1px solid lightgrey;
}

form .error {
    color: #ff0000;
}

#second{
    display:none;
}
