#fondo {
    background-repeat: repeat-x;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    border: 0;
}